.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#contentLeft{
  position: relative;
  z-index: 1;
  margin-top: 75px;
}
#contentMiddle{
  position: relative;
  z-index: 1;
  margin-top: 75px;
}   
#contentRight{
  position: relative;
  z-index: 1;
  margin-top: 75px;
}
#navbarCss{
  position: fixed;
  width: 100%;
  z-index: 2;
}